{% load static %}
{% load form_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      :root {
        --concordia-blue: #192C53;
        --concordia-sky: #5A9DBF;
        --concordia-slate: #646464;
        --concordia-nimbus: #C8C8C8;
        --concordia-wheat: #E2C172;
        --concordia-white: #F8F4ED;
        --concordia-clay: #B2402A;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <title>CUNE Annoucements</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
<footer class="text-white p-6 mt-4" style="background-color: var(--concordia-slate);">
        <div class="flex flex-col items-center font-sans">
            <p class="text-lg" style="color: var(--concordia-blue);">© 2025</p>
        </div>
    </footer>
</html>