{% load static %}
{% load form_extras %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      :root {
        --concordia-blue: #192C53;
        --concordia-sky: #5A9DBF;
        --concordia-slate: #646464;
        --concordia-nimbus: #C8C8C8;
        --concordia-wheat: #E2C172;
        --concordia-white: #F8F4ED;
        --concordia-clay: #B2402A;
      }
    </style>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>CUNE Announcements</title>
</head>
<body class="min-h-screen flex flex-col bg-white">
    <header class="p-6" style="background-color: var(--concordia-blue); color: var(--concordia-white);">
        <div class="flex flex-col items-center font-sans">
            <a href="{% url 'submit_announcement' %}"><img src="{% static 'logo.png' %}" alt="CUNE Logo White" class="h-16 mb-4"></a>
        </div>
    </header>
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>
    <footer class="text-white p-6 mt-4" style="background-color: var(--concordia-blue);">
        <div class="flex flex-col items-center font-sans">
            <a class="text-lg underline hover:text-concordia-sky" style="color: var(--concordia-white);" href="{% url 'faq' %}">FAQ</a>
            <p class="text-lg" style="color: var(--concordia-white);">© 2025</p>
        </div>
    </footer>
</body>
</html>
